*.iml
*.pyc
/__pycache__/*
/.idea/*
/WorkingProjects/QM_Team/resonator_measurements/local_notebooks/
/WorkingProjects/QM_Team/resonator_measurements/.idea/
/WorkingProjects/QM_Team/resonator_measurements/bd/
/WorkingProjects/QM_Team/resonator_measurements/ip/
/WorkingProjects/QM_Team/resonator_measurements/xdc/
/WorkingProjects/QM_Team/resonator_measurements/template_notebooks/
/WorkingProjects/QM_Team/resonator_measurements/pynq/
/WorkingProjects/QM_Team/resonator_measurements/hdl/
/WorkingProjects/QM_Team/resonator_measurements/power_sweep/
/WorkingProjects/QM_Team/resonator_measurements/FFS/
/WorkingProjects/QM_Team/resonator_measurements/proj.tcl
/WorkingProjects/QM_Team/resonator_measurements/Client_modules/PythonDrivers
/WorkingProjects/QM_Team/resonator_measurements/dBm_lookup
/Personal/
/.vscode/
.DS_Store